@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .global-btn {
    @apply w-full transform rounded-lg bg-gray-800 px-6 py-3 text-sm font-medium capitalize tracking-wide text-white transition-colors duration-300 hover:bg-gray-700 focus:outline-none focus:ring focus:ring-gray-300 focus:ring-opacity-50;
  }
  .cardWrapper {
    @apply max-w-sm rounded-lg border border-gray-200 bg-white p-6 shadow dark:border-gray-700 dark:bg-gray-800;
  }
  .formInput {
    @apply block  w-full rounded-lg border bg-white px-4 py-2  text-gray-700 focus:border-blue-400  focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40;
  }
  .bookLabel {
    @apply mb-2 text-base font-medium text-gray-500;
  }
  .bookInputContainer {
    @apply grid grid-cols-1 gap-x-3  gap-y-4 md:grid-cols-3;
  }
  .searchCardItem {
    @apply flex  flex-col md:justify-between md:gap-x-20;
  }
  .flat-center {
    @apply flex flex-col items-center md:justify-between md:gap-x-20;
  }
  .profileHeading {
    @apply mb-2 mt-7 text-xl font-bold text-gray-700;
  }
  .ticketExtraDetailsTitle {
    @apply text-base font-medium text-gray-500;
  }

  .ticketExtraDetailsItem {
    @apply text-sm font-normal text-gray-400;
  }

  .tablesItems {
    @apply border border-gray-600/20 p-2;
  }

  .profileNameUpdate {
    @apply text-xl font-bold text-gray-700;
  }
  .box {
    @apply p-2 border border-gray-600/20 rounded-lg;
  }
  .alert-success {
    @apply mb-4  rounded-lg bg-blue-50 p-4 text-sm text-blue-800
  }
  .alert-danger {
    @apply rounded-lg bg-red-50 p-4 text-sm text-red-800 mb-4
  }
  .stack {
    display: grid;
    grid-template: "container";
  }

  .stack > * {
    grid-area: container;
  }

  .fade-edge {
    --fade-both: 10%;

    --fade-top: var(--fade-both);
    --fade-bottom: var(--fade-both);

    --mask: linear-gradient(
        to top,
        rgba(0, 0, 0, 0) 0,
        rgba(0, 0, 0, 1) var(--fade-top),
        rgba(0, 0, 0, 1) calc(var(--fade-top) + 5%),
        rgba(0, 0, 0, 0) 100%
      ),
      linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0) 0,
          rgba(0, 0, 0, 1) var(--fade-bottom),
          rgba(0, 0, 0, 1) calc(var(--fade-bottom) + 5%),
          rgba(0, 0, 0, 0) 100%
        )
        50% 50% / 100% 100% repeat-y;

    -webkit-mask: var(--mask);
    mask: var(--mask);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition:
      background-color 50000s ease-in-out 0s,
      color 5000s ease-in-out 0s;
  }
}

.inter {
  font-family: "Inter", sans-serif;
}

/* --------// admin draft style //-------- */
.Admin_Layout {
  @apply relative flex h-screen w-full flex-row items-start;
}
.admin_main {
  width: 100%;
}

.Admin_Layout aside {
  /* position: relative; */
  background-color: #fff;
  z-index: 4000;
  top: 0px;
  height: 100vh;
}
.Admin_Layout aside .con-aside {
  position: fixed;
  top: 0;
  height: 100%;
}
